<!DOCTYPE html>
{% load i18n %} <!-- Загружаем теги с переводами, без этой строки ничего не будет работать -->
{% load tz %} <!-- не забываем загрузить тег для работы с часовыми поясами -->
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Bare - Start Bootstrap Template</title>
    <!-- Favicon-->

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />


    <!-- Если сейчас больше чем 19 или же меньше 7, то выводим тёмную тему, иначе выводим светлую -->
    <style>
        body {
            background-color: {
                % if current_time.hour>=1 or current_time.hour <=24 %
            }

            darkcyan {
                % else %
            }

            powderblue {
                % endif %
            }

            ;
        }
    </style>

</head>

<body>



    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'news:newslist' %}">T2G</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        {% get_current_language as LANGUAGE_CODE %}
        <select name="language" id="">
            {% get_available_languages as LANGUAGES %} <!-- получаем языки -->
            {% get_language_info_list for LANGUAGES as languages %} <!-- Помещаем их в список languages -->

            {% for language in languages %}
            <!-- Итерируясь по списку, выводим их название на языке пользователя и код -->
            <option value="{{ language.code }}">
                {{ language.name_local }} - {{ language.code }}
            </option>
            {% endfor %}
        </select>
        <input type="submit" value="Change" />
    </form>

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}">{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->


    {% trans "Check out my new cool translation" %}! <!-- Переводим строку -->
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                {% block content %}
                {{ flatpage.content }}
                {% endblock content %}
            </div>
        </div>
    </div>
</body>

</html>