{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{# Импортируем модуль с нашим тегом #}
{% load custom_tags %}


{% block title %}
Posts
{% endblock title %}


{% block content %}
    <h1>Все новости</h1>

    {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти" />
    </form


    {% for post in Posts %}
        <p>{{ post.postTitle|censor }} : {{post.dateCreation|date:'d M Y'}}<p>
        <p>{{ post.preview|censor}}    </p>
        <a href ="{{post.get_absolute_url }}"> Читать далее</a>
    {% endfor %}


   <br>
   <br>
   
   {# Добавляем пагинацию на страницу #}
   {# Информация о предыдущих страницах #}
   
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   
   {# Информация о текущей странице #}
   {{ page_obj.number }}
   {# Информация о следующих страницах #}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
    
{% endblock content %}