{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if perms.post_board.add_post %}
                        <button formaction="{% url 'post_board:board_create' %}">Подать объявление</button>
                        {% endif %}>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for post in Posts %}
            <div class="card shadow my-3">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8">
                            <small>{{post.postTitle}} : {{post.dateCreation|date:'d M Y'}}</small>
                            <hr>
                            <a class="h3" href="{{post.get_absolute_url}}">{{post.postText}} </a>
                            <p class="text-justify my-3">
                            <p>{{post.categoryType}} </p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}