{% extends 'base/base.html' %}
{% block title %}Login Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="cover">
  <div class="container">
    <div class="row mt-5 pt-3">
      <div class="col-md-5 offset-md-6">
        <div class="card my-3 shadow">
          <div class="card-body">
            <h4>Вход в систему</h4>
            <hr>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-primary btn-block" type="submit" value="Login">
            </form>
            <hr>
            <hr>
            <div class="text-center">
              <a class="btn btn-success" href="{% url 'users:users-sign-up' %}">Создать аккаунт</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}